@font-face {
  font-family: font;
  src: url(/font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: font_bold;
  src: url(/font/Montserrat-Bold.ttf);
}
body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "font";
  margin: 0;
  padding: 0;
  color: #0e0e0e;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
body b {
  font-family: "font_bold";
  font-weight: normal;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-rows: 1fr auto;
}

header {
  margin-bottom: 83px;
  align-items: center;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
header .header_logo {
  margin-right: 170px;
}
header ul {
  display: flex;
  margin: 0;
  gap: 45px;
  padding: 0;
  list-style-type: none;
}
header ul li a {
  font-style: normal;
  transition: all 0.3s ease-in;
  font-weight: 500;
  font-size: 15px;
  color: #0e0e0e;
  text-decoration: none;
}
header ul li a:hover {
  color: #7e99ec;
}
header button {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 192px;
  height: 48px;
  padding: 15px 25px;
  border: 2px solid #7e99ec;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #7e99ec;
}
header button:hover {
  background: #7e99ec;
  color: #ffffff;
}

.section1 {
  margin-bottom: 120px;
  justify-content: space-between;
  height: 449px;
  display: flex;
}
.section1 .header_btn {
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 192px;
  height: 48px;
  background: #7e99ec;
  border: 2px solid #7e99ec;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.section1 .header_btn:hover {
  background-color: #ffffff;
  color: #7e99ec;
}

.text_block h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 83px;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.01em;
  width: 550px;
  height: 224px;
}
.text_block span {
  position: relative;
  letter-spacing: 0.01em;
  color: #7e99ec;
}
.text_block span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #7e99ec;
  bottom: -16px;
  left: 0;
}

.section2 {
  position: relative;
  margin-bottom: 120px;
}
.section2::before {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: -321px;
  top: -101px;
}
.section2::after {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: 1150px;
  top: 300px;
}

.section2_h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #0e0e0e;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.card_inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
}

.card_h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #0e0e0e;
}

.card_p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  width: 291px;
  height: 72px;
  letter-spacing: 0.01em;
  color: rgba(14, 14, 14, 0.6);
}

.card1 {
  width: 550px;
  height: 150px;
  position: relative;
  background: #f2f5fd;
  border-radius: 35px;
}
.card1::before {
  position: absolute;
  content: "";
  width: 175px;
  height: 200px;
  left: -46px;
  top: -20px;
  background-image: url(/img/pic\ serv\ 1.png);
  background-repeat: no-repeat;
}

.card2 {
  width: 550px;
  height: 150px;
  position: relative;
  background: #f2f5fd;
  border-radius: 35px;
}
.card2::before {
  position: absolute;
  content: "";
  width: 175px;
  height: 200px;
  right: -27px;
  top: -18px;
  background-image: url(/img/pic\ serv\ 2.png);
  background-repeat: no-repeat;
}

.card3 {
  width: 550px;
  height: 150px;
  position: relative;
  background: #f2f5fd;
  border-radius: 35px;
}
.card3::before {
  position: absolute;
  content: "";
  width: 175px;
  height: 200px;
  left: -63px;
  top: -20px;
  background-image: url(/img/pic\ serv\ 3.png);
  background-repeat: no-repeat;
}

.card4 {
  width: 550px;
  height: 150px;
  background: #f2f5fd;
  border-radius: 35px;
  position: relative;
}
.card4::before {
  position: absolute;
  content: "";
  width: 175px;
  height: 200px;
  right: -27px;
  top: -18px;
  background-image: url(/img/pic\ serv\ 4.png);
  background-repeat: no-repeat;
}

.cardd {
  padding-top: 20px;
  text-align: center;
}

.card_pp {
  margin: 0 auto;
}

.carddd {
  padding-top: 20px;
  padding-left: 40px;
}

.section3 {
  margin-bottom: 67px;
  position: relative;
}
.section3::before {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: -321px;
  top: -101px;
}
.section3::after {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: 1150px;
  top: 450px;
}

.plan_img {
  width: 1200px;
  height: 821px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.plan_img .border_text {
  position: absolute;
  left: 378px;
}

.section4 {
  margin-bottom: 120px;
}

.portfolio_dots {
  position: absolute;
  top: 8px;
  left: -123px;
}

.portfolio_text {
  position: relative;
  margin-bottom: 50px;
}

.portfolio_h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #0e0e0e;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.portfolio_img {
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 250px;
}

.section5 {
  position: relative;
  margin-bottom: 120px;
  width: 1200px;
  background: #0E0E0E;
  height: 819px;
  border-radius: 30px;
}
.section5::before {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: -321px;
  z-index: -200;
  top: -101px;
}
.section5::after {
  width: 413px;
  height: 413px;
  content: "";
  position: absolute;
  background-image: url(/img/Ellipse\ 37.png);
  background-repeat: no-repeat;
  left: 1150px;
  z-index: -200;
  top: 450px;
}

.callback_text {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 0;
}

.callback_block {
  justify-content: space-around;
  display: flex;
}

.application_block {
  display: flex;
  flex-direction: column;
}

.application_text {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #7E99EC;
}

.form-lw-check-field {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #0E0E0E;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  display: block;
}

option {
  border-radius: 30px;
}

#choose_price {
  appearance: none;
  font-weight: 500;
  font-size: 15px;
  background: url(/img/Group\ 15.png) no-repeat right;
  background-position-x: 96%;
  background-position-y: 19px;
  line-height: 150%;
  letter-spacing: 0.01em;
  background-color: #ffffff;
  color: #0E0E0E;
  width: 500px;
  height: 50px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
}

#choose_method {
  cursor: pointer;
  appearance: none;
  background: url(/img/Group\ 15.png) no-repeat right;
  background-position-x: 96%;
  background-position-y: 19px;
  font-weight: 500;
  padding-left: 30px;
  font-size: 15px;
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #0E0E0E;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: block;
}

.area_description {
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #0E0E0E;
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 20px;
  resize: none;
  width: 500px;
  height: 137px;
  display: block;
}

.flie_send {
  cursor: pointer;
  margin-bottom: 40px;
  display: block;
}

.send_action {
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  align-items: center;
  width: 249px;
  height: 60px;
  background: #7E99EC;
  border-radius: 30px;
}
.send_action:hover {
  background-color: #ffffff;
  color: #7e99ec;
}

.personal {
  margin: 0 auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  margin: 0 auto;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.5);
}

.personal_text {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.personal_data {
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  align-items: center;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}

.write_block {
  display: flex;
  flex-direction: column;
}

.write_text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  align-items: center;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
  letter-spacing: 0.01em;
  color: #7E99EC;
}

.write_mail {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
}

.mail_img {
  margin-right: 15px;
  width: 20px;
  height: 17px;
}

.mail_text {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #F2F5FD;
}

.write_tel {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.tel_img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.tel_text {
  font-size: 20px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #F2F5FD;
}

.messengers {
  align-items: center;
  margin: 0 auto;
  margin-bottom: 129px;
  display: flex;
}

.vk {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.inst {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.tg {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.write_bitimage {
  width: 381px;
  height: 300.81px;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: relative;
  height: 247px;
  background: #0E0E0E;
}

.footer_copyrght {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: rgba(241, 244, 255, 0.3);
}

.top_block {
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 169px;
  height: 40px;
}

.middle_block {
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}

.mess {
  display: flex;
}

.footer_copyrght {
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer_ul {
  margin: 0;
  align-items: center;
  text-align: center;
  padding: 0;
  justify-content: space-between;
  display: flex;
}
.footer_ul a {
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding-right: 60px;
}

.black_back {
  position: absolute;
  background-color: #0E0E0E;
  width: 30000px;
  top: 0px;
  left: -500px;
  height: 247px;
  z-index: -200;
}

/*# sourceMappingURL=style.css.map */
